// pre is used for code blocks. All styles should be essentially wiped,
// otherwise the code blocks will retain their HTML styles.
pre * {
  font-size: 1em;
}

p {
  margin: 0.333rem 4px;
}

body {
  @include sky-gradient();
  background-attachment: fixed;
  @include basic-font();
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  color: $light;
  margin: 0;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

a {
  @include gentle-transition();
  text-decoration: underline;
  color: inherit;

  &:hover {
    @include gentle-transition();
    text-decoration: underline;
    color: $brand-secondary;
  }
}
