@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
	Using Tailwind CSS layers has performance and optimization benefits, such as 
	automatically removing unused CSS and packaging more effeciently.

	For more information on the difference between Tailwind CSS layers, see:
	https://tailwindcss.com/docs/adding-custom-styles

	Such a simple change with so many benefits. I should have learned about these sooner!
*/

@layer base {
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul {
		@apply text-white;
	}

	a {
		&:hover {
			@apply text-yellow-300;
		}
	}

	.button {
		@apply rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-200 hover:text-slate-800;
	}

	p {
		@apply hyphens-auto lg:hyphens-none;
	}
}

select {
	@apply w-full bg-gray-50 text-gray-700 rounded py-px px-2 cursor-pointer border hover:bg-gray-100 tracking-tight text-sm;
}

@layer components {
	.sky-gradient-background {
		background: rgb(67, 24, 60);
		background: linear-gradient(
			180deg,
			rgba(67, 24, 60, 1) 0%,
			rgba(91, 139, 223, 1) 50%,
			rgba(139, 179, 251, 1) 100%
		);
	}
}
