// pre is used for code blocks. All styles should be essentially wiped,
// otherwise the code blocks will retain their HTML styles.
pre * {
  font-size: 1em;
}

p {
  margin: 0.333rem 4px;
}

body {
  @include sky-gradient();
  background-attachment: fixed;
  @include basic-font();
  font-style: normal;
  // min-height: 100vh;
  color: $light;
  margin: 0;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

h1 {
  margin-bottom: 10px;
  font-size: 1.75em;
  font-weight: 400;
  font-family: "Bookmania", serif;
}

a {
  @include gentle-transition();
  text-decoration: underline;
  color: inherit;

  &:hover {
    @include gentle-transition();
    text-decoration: underline;
    color: $brand-secondary;
  }
}

@mixin button {
  $button-color: #5d5d5d;
  padding: 10px 20px;
  font-size: 1em;
  border: 2px solid #5d5d5d;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: $button-color;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: bold;
  display: flex;
  align-items: center;

  svg {
    height: 100%;
    width: 1.65rem;
  }

  &:hover {
    background-color: #c7c7c7;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    color: $button-color;
  }

  &:active {
    background-color: #d9d9d9;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    color: $button-color;
  }

  &:disabled {
    background-color: #bfbfbf;
    color: #a6a6a6;
    cursor: not-allowed;
    box-shadow: none;
  }
}

button,
.button {
  @include button();

  &.disabled {
    background-color: #bfbfbf;
    color: #a6a6a6;
    cursor: not-allowed;
    box-shadow: none;
  }
}
