body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(67, 24, 60);

  /* Compatibility IE6+ */
  background: -moz-linear-gradient(
    180deg,
    rgba(67, 24, 60, 1) 0%,
    rgba(91, 139, 223, 1) 50%,
    rgba(139, 179, 251, 1) 100%
  );
  /* Compatibility IE6+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(67, 24, 60, 1) 0%,
    rgba(91, 139, 223, 1) 50%,
    rgba(139, 179, 251, 1) 100%
  );

  background: linear-gradient(
    180deg,
    rgba(67, 24, 60, 1) 0%,
    rgba(91, 139, 223, 1) 50%,
    rgba(139, 179, 251, 1) 100%
  );

  /* Compatibility IE6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43183c",endColorstr="#8bb3fb",GradientType=1);
}

p,
small {
  color: #ffffff;
  font-family: "Dolly Pro", "Times New Roman", Times, serif;
}

p {
  font-size: 1.225em;
}

/*
 SECTION - Stars
*/

/* 
  SECTION - Clouds
*/

#clouds {
  /* background-color: blue; */

  position: absolute;
  bottom: 0;
  left: 0;
  height: 25vh;
  width: 100vw;
}

.cloud-row {
  /* background-color: aqua; */
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;


  /* flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start; */

}

.cloud-row > * {
  position: relative;
  /* display: inline; */
  /* transition: all; */
  /* transition-duration: 1s;
  transition-timing-function: linear; */
}
